# Auto detect text files and perform LF normalization
* text=auto
cherry-blossoms-g6123503dd_1920.jpg 
Tokyo 2
popeye-village-gda95c4398_1920.jpg
Malta 2
cancun-g3f3e1f13d_1920.jpg
Mexico 2
bangkok-gc386737cd_1920.jpg
Thailand

